*{
    padding: 0%;
    margin: 0%;
}
h1{
    padding: 40px;
    text-align: center;
    background: rgba(0, 0, 0, 0.807);
    color: white;
}
.box{
    background-color: rgb(168, 218, 218);
}
.que{
    background-color: teal;
}
.answers,.que{
    padding: 20px 24px;
}
.answers{
    display: flex;
    flex-direction: column;
    
}
.answers input{
    margin: 13px;
    /* display: block; */
   
}
#result{
    visibility:hidden;
    text-align: center;
}
.btn{
    text-align: center;
    display: block;
    width:30%;
    margin: 20px auto;
    border: 2px solid black;
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 6px;
    /* margin: 20px; */
}
.know{
    visibility: hidden;
}
#p1,#p2,#p3,#p4,#p5,#p6,#p7,#p8,#p9,#p10{
    visibility: hidden;
}